<%- include("layout/header") %>
<main class="about-page">
  <img src="/Images/Ovi.jpg" style="width: 300px; height: 300px" />
  <h1>Ovi Sarkar</h1>
  <p>MERN STACK Developer</p>
  <p>Dept. of ECE</p>
  <p>RUET, Bangladesh</p>
</main>
<%- include("layout/footer") %>
